version: 2
updates:
- package-ecosystem: gradle
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  assignees:
  - violetagg
  target-branch: "1.0.x"
  labels:
  - type/dependency-upgrade
  ignore:
  # Don't update Micrometer
  - dependency-name: io.micrometer:micrometer-core
    versions:
    - "> 1.5.0"
  # Don't update Context Propagation
  - dependency-name: io.micrometer:context-propagation
    versions:
    - "> 1.0.0"
  # Versions > 9 require JDK11+
  - dependency-name: org.apache.tomcat.embed:tomcat-embed-core
    versions:
    - ">= 10.0.a"
  # Versions > 6.13 require JDK11+
  - dependency-name: com.diffplug.spotless
    versions:
    - "[6.14.a, 7.0]"
  # Versions > 6 require JDK17+
  - dependency-name: biz.aQute.bnd.builder
    versions:
    - "[7.a, 8]"
  # Versions > 4 require JDK11+
  - dependency-name: org.jfrog.buildinfo:build-info-extractor-gradle
    versions:
    - "[5.a, 6]"
  # Versions > 4 require JDK11+
  - dependency-name: org.mockito:mockito-core
    versions:
    - "[5.a, 6]"
  - dependency-name: ch.qos.logback:logback-classic
    versions:
    - "[1.3.a, 1.6]"
  - dependency-name: org.slf4j:*
    versions:
    - "[2.a, 3]"
  # Don't update Brave
  - dependency-name: io.zipkin.brave:*
    versions:
    - "[6.a, 7]"
  rebase-strategy: disabled
- package-ecosystem: gradle
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  assignees:
  - violetagg
  target-branch: "main"
  labels:
  - type/dependency-upgrade
  ignore:
  # Don't update Micrometer
  - dependency-name: io.micrometer:micrometer-core
    versions:
    - "> 1.13.0"
  # Don't update Micrometer Tracing
  - dependency-name: io.micrometer:micrometer-tracing
    versions:
    - "> 1.3.0"
  # Don't update Context Propagation
  - dependency-name: io.micrometer:context-propagation
    versions:
    - "> 1.1.0"
  # Versions > 6.13 require JDK11+
  - dependency-name: com.diffplug.spotless
    versions:
    - "[6.14.a, 7.0]"
  # Versions > 6 require JDK17+
  - dependency-name: biz.aQute.bnd.builder
    versions:
    - "[7.a, 8]"
  # Versions > 4 require JDK11+
  - dependency-name: org.mockito:mockito-core
    versions:
    - "[5.a, 6]"
  - dependency-name: ch.qos.logback:logback-classic
    versions:
    - "[1.3.a, 1.6]"
  - dependency-name: org.slf4j:*
    versions:
    - "[2.a, 3]"
  # Versions > 0.9.25 require JDK11+
  - dependency-name: org.graalvm.buildtools.native
    versions:
    - "> 0.9.25"
  # Dependencies updated by forward merging 1.0.x branch
  - dependency-name: org.apache.tomcat.embed:tomcat-embed-core
  - dependency-name: org.jfrog.buildinfo:build-info-extractor-gradle
  - dependency-name: org.assertj:assertj-core
  - dependency-name: com.fasterxml.jackson.core:jackson-databind
  - dependency-name: io.specto:hoverfly-java-junit5
  - dependency-name: org.gradle.test-retry
  - dependency-name: io.projectreactor.tools:blockhound-junit-platform
  - dependency-name: net.ltgt.errorprone
  - dependency-name: me.champeau.gradle.japicmp
  - dependency-name: org.junit.platform:junit-platform-launcher
  - dependency-name: org.junit.jupiter:*
  rebase-strategy: disabled
- package-ecosystem: github-actions
  directory: "/"
  schedule:
      interval: daily
  open-pull-requests-limit: 10
  assignees:
      - violetagg
  target-branch: "1.0.x"
  labels:
      - type/dependency-upgrade
  rebase-strategy: disabled
- package-ecosystem: github-actions
  directory: "/"
  schedule:
      interval: daily
  open-pull-requests-limit: 10
  assignees:
      - violetagg
  target-branch: "main"
  labels:
      - type/dependency-upgrade
  ignore:
  # Dependencies updated by forward merging 1.0.x branch
  - dependency-name: actions/checkout
  - dependency-name: gradle/actions
  rebase-strategy: disabled
