root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = false
max_line_length = 120
tab_width = 4
trim_trailing_whitespace = true
ij_continuation_indent_size = 8
ij_smart_tabs = true

[*.java]
ij_java_catch_on_new_line = true
ij_java_else_on_new_line = true
ij_java_finally_on_new_line = true
ij_java_keep_indents_on_empty_lines = false
ij_java_class_count_to_use_import_on_demand = 20
ij_java_names_count_to_use_import_on_demand = 20

