.DS_Store
bin
build
.classpath
.eclipse
.gradle
.project
.settings
out
*.log
*.java.hsp
*.index
*.data
classes
exportToHtml
.pmd
.ruleset
.rulesets
.gradletasknamecache
*.iml
.idea
node_modules/
.full-build