name: Check Reactor Netty 1.1.x with Reactor Core 3.6 SNAPSHOTS

on:
  schedule:
    - cron: "0 14 * * *"
permissions: read-all
jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938
        with:
          ref: '1.1.x'
      - name: Set up JDK 1.8
        uses: actions/setup-java@b36c23c0d998641eff861008f374ee103c25ac73
        with:
          distribution: 'temurin'
          java-version: '8'
      - name: Build with Gradle
        run: ./gradlew clean check --no-daemon -PforceTransport=nio -PreactorCoreVersion='3.6.10-SNAPSHOT' -PforceContextPropagationVersion='1.1.0'
