name: GraalVM smoke tests

on:
  pull_request: {}
permissions: read-all
jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, macos-11]
        transport: [native, nio]

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 1.8
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '8'
      - name: Download GraalVM 17
        run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
            download_url="https://github.com/graalvm/graalvm-ce-builds/releases/download/jdk-17.0.9/graalvm-community-jdk-17.0.9_linux-x64_bin.tar.gz"
          else
            download_url="https://github.com/graalvm/graalvm-ce-builds/releases/download/jdk-17.0.9/graalvm-community-jdk-17.0.9_macos-x64_bin.tar.gz"
          fi
          curl -L $download_url --output $RUNNER_TEMP/java_package.tar.gz
        shell: bash
      - name: Set up GraalVM 17
        uses: actions/setup-java@v3
        with:
            distribution: 'jdkfile'
            jdkFile: ${{ runner.temp }}/java_package.tar.gz
            java-version: '17'
      - name: Build with Gradle
        run: ./gradlew :reactor-netty5-graalvm-smoke-tests:nativeTest --no-daemon -PforceTransport=${{ matrix.transport }}