name: GraalVM smoke tests

on:
  pull_request: {}
permissions: {}
jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-15-intel, windows-2022]
        transport: [native, nio]
        exclude:
          # excludes native on Windows (there's none)
          - os: windows-2022
            transport: native

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Set up JDK 1.8
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          distribution: 'temurin'
          java-version: '8'
      - name: Set up GraalVM 17
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
            distribution: 'graalvm'
            java-version: '17.0.12'
      - name: Build with Gradle
        run: ./gradlew :reactor-netty-graalvm-smoke-tests:nativeTest --no-daemon -PforceTransport=${{ matrix.transport }}