name: GraalVM smoke tests

on:
  pull_request: {}
permissions: {}
jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-14, windows-2022]
        transport: [native, nio, io_uring]
        exclude:
          # excludes native on Windows (there's none)
          - os: windows-2022
            transport: native
          - os: windows-2022
            transport: io_uring
          - os: macos-14
            transport: io_uring

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Set up JDK 1.8
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654
        with:
          distribution: 'zulu'
          java-version: '8'
      - name: Set up JDK 11
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654
        with:
            distribution: 'zulu'
            java-version: '11'
      - name: Set up GraalVM 17
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654
        with:
            distribution: 'graalvm'
            java-version: '17.0.12'
      - name: Build and test with Gradle
        if: ${{ ! startsWith(matrix.transport, 'io_uring') }}
        run: ./gradlew :reactor-netty-graalvm-smoke-tests:nativeTest --no-daemon -PforceTransport=${{ matrix.transport }}
      - name: Build and test IO_Uring on Java 17
        if: ${{ startsWith(matrix.transport, 'io_uring') }}
        run: ./gradlew :reactor-netty-graalvm-smoke-tests:nativeTest -PtestToolchain=17 --no-daemon -PforceTransport=${{ matrix.transport }}
