name: Check Netty SNAPSHOTS

on:
  schedule:
    - cron: "0 12 * * *"

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        transport: [native, nio]
        exclude:
          # excludes native on Windows (there's none)
          - os: windows-latest
            transport: native
          # macOS - https://github.com/netty/netty/issues/9689
          - os: macOS-latest
            transport: native

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1.2.0
        with:
          java-version: 1.8
      - name: Build with Gradle
        run: ./gradlew clean check -PforceTransport=${{ matrix.transport }} -PforceNettyVersion='4.1.48.Final-SNAPSHOT'
