name: Check Matrix

on:
  pull_request: {}

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, macos-10.15, windows-2019]
        transport: [native, nio]
        exclude:
          # excludes native on Windows (there's none)
          - os: windows-2019
            transport: native

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: gradle/wrapper-validation-action@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Check License
        run: ./gradlew clean spotlessCheck -PspotlessFrom='origin/${{ github.base_ref }}'
      - name: Build with Gradle
        run: ./gradlew clean check -PforceTransport=${{ matrix.transport }}