name: Check Codecov

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1.2.0
        with:
          java-version: 1.8
      - name: Build with Gradle
        run: ./gradlew clean check
      - name: Codecov
        if: success()
        run: bash <(curl -s https://codecov.io/bash)